.form {
  display: block;
  position: relative;
}

.inputContainer {
  display: block;
}

.buttonContainer {
  display: inline;
  position: absolute;
  right: -3.4rem;
  bottom: 0.1rem;
}

.button {
  height: 18px;
  width: 18px;
  padding: 1px 5px;
  background-color: #3b3b3b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(222, 150, 159, 1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(222, 150, 159, 1);
  box-shadow: 0px 0px 6px 1px rgba(222, 150, 159, 1);
}

.button.add {
  margin-left: 10px;
}

.button.remove {
  margin-left: 10px;
}

.button:active {
  box-shadow: 0px 0px 5px rgba(130, 203, 202, 1);
  -webkit-box-shadow: 0px 0px 5px rgba(130, 203, 202, 1);
  -moz-box-shadow: 0px 0px 5px rgba(130, 203, 202, 1);
}

.button:focus {
  -webkit-box-shadow: 0px 0px 5px rgba(149, 62, 222, 1);
  -moz-box-shadow: 0px 0px 5px rgba(149, 62, 222, 1);
  box-shadow: 0px 0px 5px rgba(149, 62, 222, 1);
}
