.form {
  display: block;
}

.form label {
  font-size: calc(12px + 0.390625vw);
}

.inputContainer {
  display: block;
  font-size: calc(11px + 0.390625vw);
}

.buttonContainer {
  /* display: inline;
  position: absolute;
  right: -3.4rem;
  bottom: 0.1rem; */
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.button {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 20px;
  padding: 1px 5px;
  background-color: #3b3b3b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(199,230,172,1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(199,230,172,1);
  box-shadow: 0px 0px 6px 1px rgba(199,230,172,1);
}

/* .button.add {
  margin-left: 10px;
} */

.button.remove {
  margin-left: 20px;
}

.button:active {
  box-shadow: 0px 0px 5px rgba(130, 203, 202, 1);
  -webkit-box-shadow: 0px 0px 5px rgba(130, 203, 202, 1);
  -moz-box-shadow: 0px 0px 5px rgba(130, 203, 202, 1);
}

.button:focus {
  -webkit-box-shadow: 0px 0px 5px rgba(149, 62, 222, 1);
  -moz-box-shadow: 0px 0px 5px rgba(149, 62, 222, 1);
  box-shadow: 0px 0px 5px rgba(149, 62, 222, 1);
}
