
.container {
  width: 308px;
  padding: 8px 15px;
  border-radius: 8px;
  box-shadow: 0 0 6px 6px cornflowerblue;
  max-height: 300px;
  white-space: wrap;
  overflow: scroll;
  text-overflow: ellipsis;
  position: relative;
}

.title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
}

.name {
  font-weight: 600;
}

.text {
  text-shadow: none;
  font-weight: 300;
}

.arrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url(../../public/arrow.svg);
  background-color: rgba(23, 22, 23, 0.36);
  position: sticky;
  left: 300px;
  bottom: 10px;
}